@font-face {
	font-family: 'waltograph';
	src: url(assets/waltograph/waltograph42.ttf) format(truetype);
}

body {
	font-family: 'waltograph', Times;
	background: #193d98;
}

.container {
	position: relative;
}

.hangman {
	position: absolute;
	left: 29%;
	top: 50px;
	/*font-weight: ;*/
	font-size: 150px;
	color: #BCC6CC;
}

.word, .currentWord, .guesses, .guessRemain, .lettersGuessed, .wins, .userwins {
	font-size: 36px;
	text-align: center;
	color: white;
	margin: 16px 16px;
}

.lettersGuessed {
	height: 40px;
}

.currentWord, .lettersGuessed {
	letter-spacing: 1em;
}

.disney {
	width: 100%;
	height: 400px;
}

.start {
	/*font-family: 'waltograph';*/
	color: white;
	text-align: center;
	font-size: 52px;
	margin: 24px 24px;
}

.easybtn, .hardbtn {
	margin: 0px auto;
}





